

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: lightblue;
  height: 10%;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  box-shadow: 0px 1px 3px grey;
}

.titulo{
  font-size: 26px;
  font-weight: bolder;
  margin: 0 1rem;

}

.navbar{
  margin: 0 1rem;
}

.contenido {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content:space-evenly;
  align-items: center;
}
.card{
    width: 200px;
    height: 240px;
    background-color: palegoldenrod;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
  font-size: 18px;
  margin: 0 0.5rem;
  font-family: 'Questrial', sans-serif;
  text-decoration: none;
}

a:link {
  color: purple
}

footer {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}
