* {
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}
header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: white;
  height: 14%;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  box-shadow: 0px 1px 3px grey;
}

body {
  width: 100%;
  height: 100%;
  background: #355C7D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  margin: 0;
  padding: 0;
}

.imglogo {
  width: 80px;
  margin-left: 10%;
  padding: 10px;
}

#check {
  display: none;
}
.iconmenu {
  display: none;
}

.menu {
  width: auto;
  float: right;
  margin-top: 30px;
  margin-right: 10%;
}
.menu ul {
  display: flex;
}

.menu li {
  list-style: none;
}

.menu li a {
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}

.menu li a:hover {
  color:purple;
}

.navbar {
  margin: 0 1rem;
}

main {
  width: 100%;
  height: 95%;
}

.space {
  height: 15%;
}

.contenido {
  overflow-y: auto;
  width: 100%;
  height: 85%;
}

.contenido .cardgroup {
  display: flex;
  width: 85%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.contenido .subtitulo {
  width: 85%;
  margin: 0 auto;
  padding-left: 20px;
}

.contenido .card {
  width: 250px;
  height: 250px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: blanchedalmond;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
}
.contenido .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenido .card img {
  width: 330px;
  height: 220px;
}
.link {
  font-size: 18px;
  margin: 0 0.5rem;
  font-family: "Questrial", sans-serif;
  text-decoration: none;
}

a:link {
  color: purple;
}

footer {
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: purple;
}

#check:checked ~ .menu {
  height: 180px;
}

@media screen and (max-width: 900px) {
  .iconmenu {
    display: block;
    border-radius: 5px;
    width: 30px;
    height: 30px;
  }

  .botonmenu {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: url("../img/bars-solid.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .botonmenu:hover {
    background-color: rgb(180, 74, 180);
  }
  .menu {
    position: absolute;
    top: 82px;
    right: 0px;
    margin: 0px;
    width: 250px;
    height: 0px;
    overflow: hidden;
    background-color: rgb(199, 148, 195);
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li a {
    display: block;
  }
}
